body {
  font-family: "Nunito", sans-serif;
  display: flex;
  padding: 3%;
  background-image: url("https://cdn.pixabay.com/photo/2015/06/20/07/24/color-815551_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 20px;
  width: 90vw;
}

.space{
  padding:3px;
}

.vertical-line{
  border-left: 2px solid black;
  display: inline-block;
  height: 78vh;
  margin: 20px 20px 20px 10px;
  border-radius: 10px;
}

.stat{
  font-size: 3vh;
  text-align: center;
}

.underline
{
  text-decoration: underline;
  text-align: center;
  font-weight:bold;
}

label
{
  font-style: italic;
}

#comptes, #stages {
  display: none;
}

/* MAIN MENU */

main {
  display: grid;
  width: 100%;
  background: rgb(254, 254, 254);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  z-index: 10;
}

.main-menu {
  overflow: hidden;
  background: rgb(73, 57, 113);
  padding-top: 10px;
  border-radius: 15px 0 0 15px;
  font-family: "Roboto", sans-serif;
}

.main-menu h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 85vh;
  justify-content: center;
  align-items: flex-start;
  border-radius: 40px;
  background-color: white;
}

.container .flx1 {
  /* display: flex; */
  width: 20%;
  min-width: 150px;
  height: 80vh;
  margin: 1%;
  position: relative;
  border-radius: 40px;
}

.nav-logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 3vh;
}

.nav-items p {
  cursor: pointer;
  text-align: center;
  font-size: 2.5vh;
  margin: 50px 0;
}

.nav-items .active {
  text-decoration: underline;
  text-decoration-color: #F85F6A;
  font-weight: bold;
  font-size: 3vh; /* adjust as needed */
}

.nav-items-bottom {
  display :flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-items-bottom p {
  color: grey;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  font-size: 2vh;
}



.container .flx2 {
  width: 99%;
  margin: 1%;
  height: 80vh;
  position: relative;
  border-radius: 40px;
  
}



/*.flx2_1 ;)*/

.container .flx2 .flx2_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%; /* Adjust the width of the flexbox */
  height: 45%; 
  margin: 1%;
  margin-left: 3%;
  position: relative;
  border-radius: 40px;
}


.container .flx2 .flx2_1 * {
  display: flex;
  flex-direction: column;
  width: 90%; /* Adjust the width of the flexbox */
  height: 150px; 
  margin: 1%;
  position: relative;
  border-radius: 10px;
  background-color: #F9F6EE;
  padding: 2%;
}

.container .flx2 .flx2_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%; /* Adjust the width of the flexbox */
  height: 48%; 
  margin: 1%;
  margin-left: 3%;
  margin-bottom: 3%;
  position: relative;
  border-radius: 40px;
  background-color: #F9F6EE;
}

.flx2_2 * {
  width: 54%; /* Adjust the width of the flexbox */
  height: 35vh; 
  position: center;
  border-radius: 40px;
}

.top-container {
  display: flex; /* This makes the children of top-container line up horizontally */
}

.box65 {
  flex: 65; /* This makes box60 take up 60% of the width of top-container */
  height: 45vh;
  margin-right: 20px; /* Add some space between the boxes */
  padding : 1vh;
}

.box20 {
  flex: 20; /* This makes box40 take up 40% of the width of top-container */
  border: 1px solid black;
  height: 45vh;
  border-radius: 40px;
  padding : 1vh;
  background-color: #fdf6ec;
}

/* CHARTS */
#myPieChart {
  flex: 1; /* Allow the canvas to grow and shrink to fill its container */
  width: 90%; /* Ensure the canvas takes up full width of its container */
  height: 90%; /* Ensure the canvas takes up full height of its container */
}

.chart-container {
  width: 100%; /* Adjust the width of the container */
  height: 100%; /* Adjust the height of the container */
}

canvas {
  width: 100%; /* Ensure the canvas takes up the full width of its container */
  height: 100%; /* Let the height adjust automatically based on the width */
}

.container_dashboard_line {
  display: inline-block; /* Change display to inline-block */
  width: 22%; /* Adjust the width of each container */
  padding: 10px;
  margin: 10px;
  position: relative;
  border-radius: 40px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
}


.container_dashboard_chart {
  display: inline-block;
  width: 45%;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 40px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
  overflow: hidden; /* Add this line to prevent content overflow */
}


@media screen and (max-width: 775px) {
  .flx2 {
    height: 128vh!important;
    width: 95%!important;
    padding: 1%;
  }
  .flx2_1 {
    flex-direction: column!important;
    height: 60vh!important;
  }
  .flx2_1 * {
    width: 80%!important;
    height: 15vh!important;
  }
  .flx2_2 {
    flex-direction: column !important;
    height: 67vh!important;
  }
  .flx2_2 * {
    width:95% !important;
    height: 35vh!important;
    display: flex;
    justify-content: center; 
  }
  .flx1 {
    display: none;
  }
  .container {
    height: 130vh!important;
    width: 85vh!important;
    padding: 0%;
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 40vh;
  }
  .flx2 {
    height: 128vh!important;
    width: 95%!important;
    padding: 1%;
  }
  .flx2_1 {
    flex-direction: column!important;
    height: 60vh!important;
  }
  .flx2_1 * {
    width: 80%!important;
    height: 15vh!important;
  }
  .flx2_2 {
    flex-direction: column !important;
    height: 67vh!important;
  }
  .flx2_2 * {
    width:95% !important;
    height: 35vh!important;
    display: flex;
    justify-content: center; 
  }
  .flx1 {
    display: none;
  }
  .container {
    height: 130vh!important;
    width: 43vh!important;
    padding: 0%;
  }
}

/* burger button */

.burger {
  display: none; /* Cacher le bouton sur les grands écrans */
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%; /* Faire en sorte que le bouton soit un cercle */
  position: fixed; /* Faire en sorte que le bouton reste à une position fixe */
  bottom: 20px; /* Positionner le bouton en bas de la page */
  left: 20px; /* Positionner le bouton à gauche de la page */
  background-color: #333; /* Ajouter une couleur de fond au bouton */
  align-items: center; /* Centrer les lignes verticalement */
  justify-content: center; /* Centrer les lignes horizontalement */
  padding: 10px;
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: #fff; /* Changer la couleur des lignes en blanc */
  margin: 4px 0; /* Espacer les lignes */
}

#mobile-nav {
  display: none; /* Cacher le menu par défaut */
}

#mobile-nav.show {
  display: block; /* Afficher le menu quand la classe 'show' est ajoutée */
}

.menu {
  display: flex; /* Cacher le menu par défaut */
  position: fixed; /* Positionner le menu par-dessus le contenu de la page */
  top: 0; /* Positionner le menu en haut de la page */
  left: 0; /* Positionner le menu à gauche de la page */
  width: 30%; /* Faire en sorte que le menu prenne la moitié de la largeur de la page */
  height: 100%; /* Faire en sorte que le menu prenne toute la hauteur de la page */
  background-color: rgba(0, 0, 0, 0.86); /* Ajouter une couleur de fond semi-transparente au menu */
  color: #fff; /* Changer la couleur du texte en blanc */
  padding: 10px; /* Ajouter un peu d'espace autour du contenu du menu */
}

.menu.show {
  display: block; /* Afficher le menu quand la classe 'show' est ajoutée */
}

.cancel {
  position: absolute; /* Positionner le bouton par rapport au menu */
  bottom: 50px; /* Positionner le bouton en bas du menu */
  left: 50%; /* Centrer le bouton horizontalement */
  transform: translateX(-50%); /* Décaler le bouton de moitié à gauche pour le centrer parfaitement */
  background: none; /* Supprimer le fond du bouton */
  border: none; /* Supprimer la bordure du bouton */
  color: #fff; /* Changer la couleur du texte en blanc */
  font-size: 12px; /* Augmenter la taille du texte */
  cursor: pointer; /* Changer le curseur en main quand on survole le bouton */
}

@media (max-width: 775px) {
  .burger {
      display: block; /* Afficher le bouton sur les petits écrans */
  }
}

.nav-link {
  color: white;
  text-align: center;
  display: block;
}

.nav-link-bottom {
  position: absolute;
  bottom: 80px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Add this line */
}

.nav-link-bottom p {
  color: white;
  margin: 10px 0;
  font-size: 12px; /* Add this line to add some space between the texts */
}

.nav-link, .nav-link:visited, .nav-link:active {
  color: white;
  text-align: center;
  display: block;
}

.logo-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom:6vh;
}

.logo {
  width: 8vh; /* adjust as needed */
  height: 8vh; /* adjust as needed */
}

#mobile-nav a {
  display: block;
  color: white; /* adjust as needed */
  text-decoration: none;
  padding: 10px 0;
}

table{
  width:100%; 
}

th, td{
  padding:20px;
  border : 2px solid black;
}

th{
  background-color:   #5d6d7e;
  color : white;
}

table tr:nth-child(even){
  background-color: #E4E5E8;
}