/* Loading of the different fonts*/

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/GothamSSm-Medium_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/GothamSSm-Book_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/GothamSSm-Light_Web.woff2) format("woff2")
}

/*---------------------------------------------------------------*/
:root {
    --primary-color: grey;
    --primary-color-darker: grey;
    --secondary-color: grey;
    --background-color: grey;
    --secondary-background-color: grey;
    --tertiary-background-color: grey;
    --header-background: grey;
    --text-color: grey;
    --link-default-color: grey;
    --link-underlined-color: grey;
    --inverted-text-color: grey;
    --logo-gradient: grey;
    --hover-color: grey;
    --h1-background-color: grey;
    --checkbox-background: grey;
    --checkbox-checked-background: grey;
    --checkbox-checked-box-shadow: grey;
    --footer-text-shadow: grey;
    --dashboard-border-color: grey;
    --secondary-background-color: grey;
    --carousel-card-text-color: grey;
    --box-shadow: grey;
    --research-button-hover-background: grey;
    --job-color: grey;
    --pagination-button-color: grey;
    --center-container-background: grey;
}

body {
    --primary-color: #df545d;
    --primary-color-darker: #B3444B;
    --secondary-color: #000;
    --background-color: #FFFFFF;
    --secondary-background-color: #E1E1E1;
    --tertiary-background-color: #D0D0D0;
    --header-background: linear-gradient(to top, rgba(230, 230, 230, 0), var(--background-color));
    --text-color: #101010;
    --link-default-color: #393C41;
    --link-underlined-color: #F85F6A;
    --inverted-text-color: #FAFAFA;
    --logo-gradient: linear-gradient(to right, #BB2949 0%, #2F375E 80%);
    --hover-color: #F1F1F1;
    --h1-background-color: #0d2965;
    --checkbox-background: #f0f0f0;
    --checkbox-checked-background: #2196F3;
    --checkbox-checked-box-shadow: inset -2px -2px 5px #1E87D8, inset 2px 2px 5px #23A5FF;
    --footer-text-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
    --dashboard-border-color: var(--primary-color);
    --carousel-card-text-color: #454545;
    --box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    --research-button-hover-background: #F0F0F0;
    --job-color: #fff;
    --pagination-button-color: gainsboro;
    --center-container-background: rgba(0, 0, 0, .15);
}



body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: "Nunito", sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/06/20/07/24/color-815551_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    font-family: Gotham SSm;
    color: var(--text-color);
    transition: all 0.2s ease;
    --min-height: 690px;
}


.dashboard_body {
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    min-height: 90vh;
    min-width: 90%;
    padding: 10px;
    border-radius: 30px;
    user-select: none;
    transition: all 0.2s ease;
}

hr {
    width: 90%;
    border: 1px solid var(--primary-color);
    margin: 10px;
}

.lateral_navigation_bar, .modile_navigation_bar {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: 10px;
    background-color: var(--secondary-background-color);
    transition: all 0.2s ease;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-logo .logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 25px;
}

 .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: fit-content;
}

 .nav-items-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: fit-content;
}

.nav-items p, .nav-items-bottom p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    font-weight: 500;
    width: 90%;
    height: 20px;
    border-radius: 25px;
    transition: all 0.2s ease;
}

.nav-items p:hover, .nav-items-bottom p:hover{
    background-color: var(--tertiary-background-color);
    border-radius: 10px;
    cursor: pointer;
}

.nav-items p.active {
    background-color: rgba(255, 0, 0, 0.2);
    font-weight: bold;
    border-radius: 25px;
}

.nav-items p.active:hover {
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
}


.modile_navigation_bar {
    width: 0px;
    height: calc(100vh - 20px);
    margin: 0px;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 999;
    border-radius: 30px;
    border: solid 0px var(--text-color);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.6);
}

.modile_navigation_bar.show {
     width: 300px;
     margin: 10px;
     border: solid 2px var(--text-color);
 }


.burger {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--secondary-background-color);
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: -50px;
    z-index: 9999;
    transition: all 0.2s ease;
}

.burger .line {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    transition: all 0.2s ease;

}

.burger.active {
    transform: rotate(180deg);
    left: 260px;
}

.burger.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 9px);
}

.burger.active .line:nth-child(2) {
    opacity: 0;
}

.burger.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}


.stats_body, .account_body, .intership_body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-radius: 25px;
    background-color: var(--secondary-background-color);
}


/* stats */


.stats_num, stats_chart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
}

.stats_num_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-background-color);
    transition: all 0.2s ease;
}

.stat_text {
    text-align: center;
    font-size: 20px;
}

.stat, .stat_waiting_internship {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

.stat_waiting_internship {
    flex-direction: column;
    font-size: 18px;

}

.stats_chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-background-color);
    transition: all 0.2s ease;
}



/* account */

.account_body {
    flex-direction: row;
}

.box_table_stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-background-color);
    transition: all 0.2s ease;
}

.account_table {
    text-align: center;
    max-height: 90%;
    width: 100%;
    overflow-y: scroll;
    user-select: text;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    transition: all 0.2s ease;
}

 thead tr {
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 2px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

tbody tr.active-row {
    font-weight: bold;
    color: var(--primary-color);
}


.table_stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    transition: all 0.2s ease;

}



/* internships */

.intership_body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 95%;
}

.intership_body * {
    transition: all 0.2s ease;
}

.tables_body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    /* height: 100%; */
    margin: 10px;
    padding: 10px;
    gap: 15px;
    border-radius: 25px;
    user-select: text;
    background-color: var(--tertiary-background-color);
    transition: all 0.2s ease;
}

.tables_body >*:not(hr) {
    border: solid 1px var(--text-color);
    border-radius: 25px;
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    transition: all 0.2s ease;
}

.tables_body>* table {
    width: 100%;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    transition: all 0.2s ease;

}

.internshipForm, CRUD_enterprise {
    height: 50%!important;
}

.CRUD_enterprise {
    display: flex;
    flex-direction: column;
    align-items: center
}



.CRUD_body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-background-color);
    transition: all 0.2s ease;
}

.CRUD_body .CRUD_internship, .CRUD_body .CRUD_enterprise {
    flex: 1!important;
}

.CRUD_body form {
    display: flex;
    flex-direction: column;
    align-items: center
}

.CRUD_title {
    font-weight: bold;
    text-align: center;

}

.CRUD_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-background-color);

}


.CRUD_body input, .CRUD_body select {
    width: 80%;
    max-width: 300px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.CRUD_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--tertiary-background-color);
}

.CRUD_buttons button {
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--inverted-text-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.CRUD_buttons button:hover {
    background-color: var(--primary-color-darker);
}


@media screen and (max-width: 1200px) {
    .account_body {
        flex-direction: column;
    }

    .box_table_stats {
        width: 90%;
    }

    .CRUD_container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .CRUD_inputs {
        width: 150%;
    }

    .intership_body {
        flex-direction: column;
    }

    .intership_body .CRUD_body {
        flex-direction: row;
        align-items: flex-start;
    }

    .tables_body div {
        height: fit-content;
        max-height: 650px;
    }

    .tables_body {
        width: auto;
        height: fit-content;
    }
}


@media screen and (max-width: 1000px) {
    .stats_num {
        flex-direction: column;
    }

    .stats_num_container, stats_chart {
        width: 90%;
    }

    .lateral_navigation_bar {
        overflow-x: hidden;
        width: 0px;
        margin: 0px;
    }

    .dashboard_body {
        width: 100%;
        margin: 5px;
    }

    .burger {
        top: 15px;
        left: 15px;
    }

    .intership_body {
        width:auto;
    }
}

@media screen and (max-width: 850px) {
    .stats_num_container, .stats_chart {
        width: 80%;
    }

}