/* Loading of the different fonts*/

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/GothamSSm-Medium_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/GothamSSm-Book_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/GothamSSm-Light_Web.woff2) format("woff2")
}

/*---------------------------------------------------------------*/

/* Others */

a {
    transition: padding 0.33s ease-in-out;
    text-decoration: none;
}

article h2 {
    font-size: 2em;
}

body {
    color: #1E1E1E;
    opacity: 0;
    background-color: #efefef;
    font-family: "Gotham SSm";
    display: flex;
    min-width: 350px;
    flex-direction: column;
    min-height: 98vh;
    user-select: none;
    scroll-behavior: smooth;
    transition: all 0.33s ease-in-out;
}

 body.loginbackground{
    background-image: url('background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed; /* ou scroll si vous souhaitez que l'image défile avec le contenu */
    background-size: cover;  /* ou contain selon vos préférences */
}

button, label, br, form, input, select, textarea, .navbar, .categories-list a, .checkbox-container{
    transition: transform 0.33s ease, background-color 0.33s ease, box-shadow 0.33s ease, color 0.33s ease, filter 0.33s ease;
}

div.bordure {
    border: 2px solid grey;
    margin: 20px;
}

textarea {
    resize: none;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.align p
{
    text-align: justify;
}

.animate {
    opacity: 0;
    transform: translateY(5px);
    animation: slideIn 0.3s ease-in-out forwards;
}

.bando {
    padding: 20px;
    background-color: gainsboro;
}

.disabled {
    cursor: not-allowed;
    filter: opacity(50%);
}

.garde {
    color: #1E1E1E;
    text-align: center;
    font-size: 3em;
    font-family: "Gotham SSm" ;
    font-weight: 500;
    transition: opacity 0.33s ease-in-out, font-size 0.5s ease-in-out;
}

.horizontal-line {
    border-top: 1px solid #fff;
}

.mobile {
    display: none;
}

.space {
    padding: 1em;
}

.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 260px;
    margin: 20px 20px;
}

/*---------------------------------------------------------------*/

/* All pages*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.33s ease-in-out;
  }
  
.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;

}
/*---------------------------------------------------------------*/

/* All buttons */

button {
    font-family: "Gotham SSm";
    font-weight: 500;
    color: white;
    filter: brightness(95%);
    margin: 10px 0px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 115px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
    outline: none;
}

button[type="login"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F85F6A;
    background-color: white;
    color: black;
    padding: 8px;
    font-weight: bold;
    border-radius: 50px;
    margin: 10px;
    margin-inline: 20px;
    width: 100px;
    height: 40px;
}

button[type="login"]:active {
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    transform: scale(0.95);
}


.tds-icon-person {
    display: none;
  width: 30px;
}


button[type="submit"] {
    background-color: #F85F6A;
    color: black;
    padding: auto;
    width: 200%;
}

button[type="reset"] {
    background-color: #998E8E;
    padding: auto;
    width: 200%;
}

button:hover.enabled {
    transform: scale(1.05);
    filter: brightness(100%);
}
button:active.enabled {
    transform: scale(0.95);
    filter: brightness(90%);
}

.bouton {
    border: 2px solid #F85F6A;
    background-color: white;
    color: black;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: -20px;
}

.bouton:hover {
    background-color: #ccc;
    transform: scale(1.05);
}

.bouton:active {
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    transform: scale(0.95);
}

.scroll-top-button {
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #dd2295, #573b5e);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.33s ease;
  }
  
  .scroll-top-button:hover {
    background: linear-gradient(to bottom right, #d615b6, #3e0746);
  }
  
  .scroll-top-button::before {
    content: "\2B99"; 
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #ffd900;
  }

/*---------------------------------------------------------------*/

/* Text-center*/

.text-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 12px;
    font-weight: 500;
    transition: gap 0.33s ease-in-out, font-size 0.33s ease-in-out, flex 0.33s ease-in-out;
}

.text-center h1 {
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 10px;
    border: 2px solid #F85F6A;
    border-radius: 30px;
    font-size: 4.8em;
    /* text-decoration: underline; */
}

.text-center-accueil {
    width: 1000px;
    padding: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: gainsboro;
    border-radius: 50px;
}

.text-center-accueil h1{
    font-size: 300%;
}

.text-center h2{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 10px;
    font-size: 3em;
    text-decoration: underline;
}

/*---------------------------------------------------------------*/

/* Images */

* img {
    border-radius: 50px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
    width: 100%;
    height: auto;
}

.logo {
    border-radius: 0px;
    box-shadow: none;
    height: 18px;
    width: auto;
    margin: 10px;
    margin-inline: 20px;
    transition: all 0s ease;
}

.img_accueil{
    width: 600px;
    height: 400px;
}

.img_legalmentions{
    width:200px;
    height:200px;
    margin-top: 15px;
    margin-left : 35%;
}

.nom img {
    width: 500px;
    height: 50px;
    margin-top: 25px;
}

/*---------------------------------------------------------------*/

/* Container*/

.container {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .1);
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);

}



.container-bando {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    position: relative;
    border-radius: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.textcontainer_accueil {
    width: 300px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
}

/*---------------------------------------------------------------*/

/* Boxes */

.box1 {
    flex: 1 0 30%; 
    text-align: left;
    margin-left: 10px;
}

.box2 {
    /* flex: 1 0 50%;  */
    /* text-align: left; */
    margin-top: 15px;
}

.boxlegalmention {
    flex: 1 0 30%; 
    text-align: left;
    margin-left: 10px;
    padding: 10px;
}

.boxlegalmention h2 {
    color: black;
    border-radius: 5px;
    padding: 2px;
}

.box1-accueil {
    flex: 1 0 30%; 
    padding: 10px;
    text-align: left;
}

.box1-accueil p{
    margin-left: 500px;
}

.boxbutton {
    padding : 10% 10% 0% 0%;
    display : flex;
}


/*---------------------------------------------------------------*/

/* Login */

.forgot-password {
    font-size: 0.7em;
    text-align: left;
    margin-bottom: 10px;
}

.password-recovery-form button {
    width:260px;
    padding: 10px;
}

.login {
    padding: 17px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.email-entry, .email-sent {
    opacity: 0;
    font-size: 0.8em;
    text-align: center;
    padding-top: 10vh;
    transition: opacity 0.1s ease-in-out, font-size 0.5s ease-in-out;
}

.email-entry.visible, .email-sent.visible {
    display: block;
    opacity: 1;
}

.email-entry.hidden, .email-sent.hidden {
    display: None;
    opacity: 0;
    pointer-events: none;
}

/*---------------------------------------------------------------*/

/* Navbar */

.navbar {
    color: #303030;
    font-family: "Gotham SSm";
}

.homeNav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.navbar a, .forgot-password a {
    color: #303030;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: color 0.15s ease-in-out;
}

.navbar a::before, .forgot-password a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F85F6A;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out 0s;
}

.navbar a:hover, .forgot-password a:hover {
    color: #F85F6A;
}

.navbar a:hover::before, .forgot-password a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/*---------------------------------------------------------------*/

/* Categories list */

.categories-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
    color: white;
}


.categories-list a {
    color: #DDDDDD;
    text-decoration: none;
    transition: transform 0.1s ease-in-out
}

.categories-list a:hover {
    text-decoration: underline;
    color: #F56B2A;
    transition: transform 0.1s ease-in-out
}

/*---------------------------------------------------------------*/

/* Table-articles */

.table-articles thead {
    background-color: #0d0d0d;
    color: white;
}

.table-articles {
    border-collapse: collapse;
}

.table-articles tr:nth-child(even) {
    background-color: #181818;
}

/*---------------------------------------------------------------*/

/* Form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

form label {
    color: #5c5e62;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

/*---------------------------------------------------------------*/

/* Input (+ select)*/

input, select, textarea {
    font-family: inherit;
    border: none;
    border-radius: 10px;
    width : 240px;
    background-color: #f0f0f0;
    border: none;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
    outline: none;
}

textarea {
    width: 80%;
    height: 100px;
}

/* On mouse-over, add a grey background color */
input:hover {
    background-color: #e0e0e0;
    box-shadow: inset -2px -2px 3px #e0e0e0, inset 2px 2px #e0e0e0, -5px -5px 10px #ffffff, 5px 5px 10px #aeaec0;
}

/* When the input is focused, add a blue background */
input:focus {
    background-color: #f56a2a0f;
    box-shadow: inset -2px -2px 3px rgba( 193, 84, 33, 0.4), inset 2px 2px 3px rgba(240, 119, 63, 0.4), -5px -5px 10px #ffffff, 5px 5px 10px #aeaec0; 
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    height: auto;
}

/*---------------------------------------------------------------*/

/* searchbar */

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.searchbar * {
    transition: all 0.33s ease-in-out;
}

.searchbar input[type="text"] {
    height: 40px;
    margin-right: 40px;
    flex: 1;
    
}

.search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    min-width: 100px;
    max-width: 40%;
    max-width: 500px;
}

.searchbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    margin-left: -20px;
    background-color: #F85F6A;
    border-radius: 50px;
}

.searchbutton:hover {
    filter: brightness(1.2);
}

.searchbutton:active {
    filter: brightness(0.9);
}

.tds-icon-search {
    transform: scale(20);
    fill: #000;
    width: 30px;
    height: 30px;
}


/*---------------------------------------------------------------*/

/* Checkbox */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #e0e0e0;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
    box-shadow: inset -2px -2px 5px #1e87d8, inset 2px 2px 5px #23a5ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*---------------------------------------------------------------*/

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: auto;
}

footer .text-center a {
    color: #303030;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
    font-weight: 550;
}

/*---------------------------------------------------------------*/

/* Carousel */


.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 450px;
  --carousel-min-width: 400px;
  z-index: 1;
  position: relative;
  width: 98%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
  justify-content: center;
  display: flex;
  -ms-flex-align: left;
}
 

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {
  background: whitesmoke;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 60%;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: #454545;
  transition: inherit;
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
  border-radius: 3em;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.highlight {
  filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
    background-image: url("/images/404.jpg")
}
.card:nth-of-type(2) .image-container {
    background-image: url("/images/404.jpg")
}
.card:nth-of-type(3) .image-container {
    background-image: url("/images/404.jpg")
}
.card:nth-of-type(4) .image-container {
    background-image: url("/images/404.jpg")
}
.card:nth-of-type(5) .image-container {
    background-image: url("/images/404.jpg")
}

.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  /* -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3); */
  /* -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3); */
  /* box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3); */
  
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  /* border: solid 3px rgba(0,0,0,.1); */
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}


/*---------------------------------------------------------------*/

/* Responsive */

@media screen and (max-width: 650px) {
    .text-center {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .email-entry,
    .email-sent {
        font-size: 0.5em;
    }

    .garde {
        font-size: 2em !important;
    }

    a {
        padding: 10px;
        padding-inline: 0px;
        transition: padding 0.2s ease-in-out;
    }

    .logo{
        content: url("/images/logo-classic.webp");
        width: 40px;
        height: auto;
    }

}

@media screen and (max-width: 500px) {
    .logo{
        content: url("/images/logo-classic.webp");
        margin-inline: 10px;
    }

    .searchbar {
        gap: 0px;
    }
    .search {
        width: 15vh;
    }
    .searchbutton {
        margin-left: -40px;
        border-radius: 0 10px 10px 0;
    }
    button[type="login"] {
        width: 50px;
        height: 40px;
    }
    input[type="text"] {
        width: 150px;
        margin-right: 0px;
        border-radius: 10px 0 0 10px;
    }

    .connexion-text {
        display: none;
    }

    .tds-icon-person {
        display: block;
    }
}