/* Loading of the different fonts*/

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 500;
    src: url(fonts/GothamSSm-Medium_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/GothamSSm-Book_Web.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Gotham SSm;
    font-style: normal;
    font-weight: 300;
    src: url(fonts/GothamSSm-Light_Web.woff2) format("woff2")
}

/*---------------------------------------------------------------*/
:root {
    --primary-color: #000;
    --primary-color-darker: #000;
    --secondary-color: #000;
    --background-color: #000;
    --secondary-background-color: #000;
    --tertiary-background-color: #000;
    --header-background: #000;
    --text-color: #000;
    --link-default-color: #000;
    --link-underlined-color: #000;
    --inverted-text-color: #000;
    --logo-gradient: #000;
    --hover-color: #000;
    --h1-background-color: #000;
    --checkbox-background: #000;
    --checkbox-checked-background: #000;
    --checkbox-checked-box-shadow: #000;
    --footer-text-shadow: #000;
    --dashboard-border-color: #000;
    --carousel-card-background: #000;
    --carousel-card-text-color: #000;
    --box-shadow: #000;
    --research-button-hover-background: #000;
    --job-color: #000;
    --pagination-button-color: #000;
    --center-container-background: #000;
}

body.light-mode {
        --primary-color: #F85F6A;
        --primary-color-darker: #B3444B;
        --secondary-color: #000;
        --background-color: #FFFFFF;
        --secondary-background-color: #E1E1E1;
        --tertiary-background-color: #D0D0D0;
        --header-background: linear-gradient(to top, rgba(230, 230, 230, 0), var(--background-color));
        --text-color: #303030;
        --link-default-color: #393C41;
        --link-underlined-color: #F85F6A;
        --inverted-text-color: #FAFAFA;
        --logo-gradient: linear-gradient(to right, #BB2949 0%, #2F375E 80%);
        --hover-color: #F1F1F1;
        --h1-background-color: #0d2965;
        --checkbox-background: #f0f0f0;
        --checkbox-checked-background: #2196F3;
        --checkbox-checked-box-shadow: inset -2px -2px 5px #1E87D8, inset 2px 2px 5px #23A5FF;
        --footer-text-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
        --dashboard-border-color: var(--primary-color);
        --carousel-card-background: #fff;
        --carousel-card-text-color: #454545;
        --box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
        --research-button-hover-background: #F0F0F0;
        --job-color: #fff;
        --pagination-button-color: gainsboro;
        --center-container-background: rgba(0, 0, 0, .15);
}


body.dark-mode {
        --primary-color: #B3444B;
        --primary-color-darker: #F85F6A;
        --secondary-color: #FFFFFF;
        --background-color: #1E1E1E;
        --secondary-background-color: #303030;
        --tertiary-background-color: #404040;
        --header-background: linear-gradient(to top, rgba(0, 0, 0, 0), var(--background-color));
        --text-color: #F0F0F0;
        --link-default-color: #E6E6E6;
        --link-underlined-color: #F85F6A;
        --inverted-text-color: var(--text-color);
        --logo-gradient: linear-gradient(to right, #DA375A 0%, rgb(118, 133, 200) 80%);
        --hover-color: #404040;
        --h1-background-color: #123581;
        --checkbox-background: #303030;
        --checkbox-checked-background: #2196F3;
        --checkbox-checked-box-shadow: inset -2px -2px 5px #1E87D8, inset 2px 2px 5px #23A5FF;
        --footer-text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        --dashboard-border-color: var(--primary-color);
        --carousel-card-background: #303030;
        --carousel-card-text-color: #fff;
        --box-shadow: none;
        --research-button-hover-background: #303030;
        --job-color: #1E1E1E;
        --pagination-button-color: #1E1E1E;
        --center-container-background: rgba(255, 255, 255, .1);
}

/*---------------------------------------------------------------*/

/* All pages*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.5s cubic-bezier(.19, 1, .22, 1) !important;
}

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;

}

/* Others */

a {
    text-decoration: none;
    color: var(--link-default-color);
}

article h2 {
    font-size: 2em;
    text-decoration: underline;
}

body {
    color: #1E1E1E;
    background-color: var(--background-color);
    font-family: "Gotham SSm";
    display: flex;
    min-width: 350px;
    flex-direction: column;
    min-height: 98vh;
    user-select: none;
    scroll-behavior: smooth;
    padding-top: 60px;
}

body.loginbackground{
    background-image: url('background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed; /* ou scroll si vous souhaitez que l'image défile avec le contenu */
    background-size: cover;  /* ou contain selon vos préférences */
}


div.bordure {
    border: 2px solid grey;
    margin: 20px;
}

textarea {
    resize: none;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: var(--header-background);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--hover-color);
}

header.fixed {
    position: fixed;
    top: 0;
}

header.hidden {
    transform: translateY(-200%);
    display: block;
}

header div.theme-login{
    display: flex;
    width: 450px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: flex-end;
}

p .badapple{
    white-space: pre;
}

@keyframes slideInY {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInX {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInXinverted {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

h1, h2, h3, h4, p {
    color: var(--text-color);
}

.align p {
    text-align: justify;
}

.animate {
    opacity: 0;
    transform: translateY(5px);
    animation: slideInY 0.3s cubic-bezier(.19, 1, .22, 1) forwards;
}

.animate.job {
    opacity: 0;
    transform: translateX(5px);
    animation: slideInX 0.3s cubic-bezier(.19, 1, .22, 1) forwards;
}

.bando {
    padding: 20px;
    background-color: var(--secondary-background-color);
}

.garde {
    color: var(--text-color);
    text-align: center;
    font-size: 3em;
    font-family: "Gotham SSm" ;
    font-weight: 500;
}

.horizontal-line {
    border-top: 1px solid #fff;
}

.mobile {
    display: none;
}

.space {
    padding: 1em;
}

.vertical-line{
    border-left: 2px solid var(--text-color);
    display: inline-block;
    height: 260px;
    margin: 20px 20px;
}

#loading {
    pointer-events: none;
    user-select: none;
    position: fixed;
    opacity: 1;
    background: radial-gradient(circle, rgba(50, 50, 50, 1), rgba(0, 0, 0, 1));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading.done {
    opacity: 0;
    pointer-events: none;
    display: none;
    transform: scale(1.5);
}

.outerspinner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-right: 5px solid white;
    border-radius: 100%;
    align-items: center;
    animation: spin 2s linear infinite;

}

.innerspinner {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-radius: 100%;
    align-items: center;
}

.super-etendard{
    width: 100px;
    height: 100px;
    transform: translate(-15px, 88px) rotate(5deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*---------------------------------------------------------------*/

/* All buttons */

button {
    font-family: "Gotham SSm";
    font-weight: 500;
    color: white;
}

button {
    font-family: "Gotham SSm";
    font-weight: 500;
    font-size: 15px;
    color: white;
    filter: brightness(95%);
    margin: 10px 0px;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 115px;
    box-shadow: var(--box-shadow);
    outline: none;
}

button[type="login"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-background-color);
    color: black;
    padding: 8px;
    border-radius: 50px;
    margin-inline: 20px;
    width: 40px;
    height: 40px;
    pointer-events: all;
}

button[type="login"]:hover {
    filter: brightness(110%);
}


.tds-icon-person {
    display: block;
    width: 20px;
    transition: none;
    fill: var(--text-color);
    transform: scale(1.5);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transform: scale(0.95);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

button[type="submit"] {
    background-color: var(--primary-color-darker);
    color: white;
    width: 200%;
}

button[type="reset"] {
    background-color: transparent;
    color: var(--text-color);
    border: 3px solid var(--primary-color);
    width: 200%;
}

button:hover.enabled {
    /* transform: scale(1.03); */
    filter: brightness(110%);
}
button:active.enabled {
    transform: scale(0.95);
    filter: brightness(90%);
}


.bouton {
    border: 2px solid var(--primary-color);
    /* background-color: white; */
    background: radial-gradient(circle closest-side, white, transparent);
    color: black;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: -20px;
}

.bouton:hover {
    transform: scale(1.05);
}

.bouton:active {
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
    transform: scale(0.95);
}

.scroll-top-button {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
}

.scroll-top-button.hidden {
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translateY(20px);
}

.scroll-top-button:hover {
    background:var(--primary-color-darker);
}

.scroll-top-button::before {
    content: "\2B99"; 
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #fee7f0;
}

.switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    user-select: none;
    margin-left: 10px;
}

.switch * {
    user-select: none;
}

.slider{
    background-color: var(--tertiary-background-color)!important
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 34px;
    transition: .1s cubic-bezier(.19, 1, .22, 1);
}

.handle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: transparent;
    background-color: var(--background-color);
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.handle.light-mode{
    left: 6px;
}

.handle.dark-mode{
    left: 25px;
}


.theme-icon {
    width: 20px !important;
    height: 20px !important;
    opacity: 0;
    transform: rotate(100deg);
}
.dark-icon {
    transform: rotate(260deg);
}

.dark-mode .dark-icon {
    opacity: 1 !important;
    transform: rotate(360deg); 
}

.light-mode .light-icon {
    opacity: 1 !important;
    transform: rotate(0deg);
}

/*---------------------------------------------------------------*/

/* Text-center*/

.text-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 12px;
    font-weight: 500;
}

.text-center h1 {
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    font-size: 4.8em;
    /* text-decoration: underline; */
}

.text-center-accueil {
    max-width: 80%;
    padding: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--h1-background-color);
    border-radius: 50px;
}

h1.text-center-accueil{
    font-size: 200%;
    color : white;
}



.contact h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid var(--text-color); 
    line-height: 0.1em;
    margin: 30px 0 20px;
 } 

 .contact h2 span { 
     background: var(--background-color); 
     padding:0px 10px;
 }

/*---------------------------------------------------------------*/

/* Images */

* img {
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: auto;
}

.logo-container {
    width: 450px;
}

#logo-classic {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    margin: 10px;
    margin-inline: 20px;
    transition: all 0s cubic-bezier(.19, 1, .22, 1);
    display: none;
    width: auto;
    height: auto;
}

#logo-classic.animate {
    opacity: 0;
    transform: translateX(110px);
    animation: slideInXinverted 0.3s cubic-bezier(.19, 1, .22, 1) forwards;
}

#Name-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gotham SSm;
    width: 450px;
    font-size: 30px;
    border: none;
    text-align: center;
    pointer-events: none;
    color: transparent;
    background: var(--logo-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}


#Name-logo.animate{
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInX 0.3s cubic-bezier(.19, 1, .22, 1) forwards;
}

.img_accueil{
    width: 600px;
    height: auto;
}

.img_legalmentions{
    width:200px;
    height:auto;
    margin-top: 15px;
    margin-left : 35%;
}

.nom img {
    width: 500px;
    height: auto;
    margin-top: 25px;
}

/*---------------------------------------------------------------*/

/* Container*/

.legal_mention {
    display: flex;
    flex-direction:column;
    gap: 5vh;
}

.legal_mention div, .legal_mention h2 {
    margin-bottom: 10px;
    display: flex;
    flex-direction:column;
    gap: 1  vh;
}


.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 20px;
    position: relative;
    color: var(--text-color);
}

.container_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    position: relative;
    color: var(--text-color);
}

.container-bando {
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    margin: 15px;
    position: relative;
    border-radius: 50px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.textcontainer_accueil {
    width: 300px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
}

/*---------------------------------------------------------------*/

/* Boxes */

.box1 {
    flex: 1 0 30%; 
    text-align: left;
    margin-left: 10px;
}

.boxlegalmention {
    flex: 1 0 30%; 
    text-align: left;
    margin-left: 10px;
    padding: 10px;
}

.boxlegalmention h2 {
    border-radius: 5px;
    padding: 2px;
}

.box1-accueil {
    flex: 1 0 30%; 
    padding: 10px;
    color: var(--text-color);
    text-align: left;
    border-radius: 30px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0), rgba(0, 0, 0, 0.5);
}

.box1-accueil p{
    margin-left: 500px;
}

.boxbutton {
    padding : 10% 10% 0% 0%;
    display : flex;
}


/*---------------------------------------------------------------*/

/* Login */

.forgot-password {
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 10px;
}

.password-recovery-form button {
    width:260px;
    padding: 10px;
}

.login {
    padding: 17px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.connexion-text {
    color: var(--text-color);
}

.email-entry, .email-sent {
    opacity: 0;
    font-size: 0.8em;
    text-align: center;
    padding-top: 10vh;
}

.email-entry.visible, .email-sent.visible {
    display: block;
    opacity: 1;
}

.email-entry.hidden, .email-sent.hidden {
    display: None;
    opacity: 0;
    pointer-events: none;
}

/*---------------------------------------------------------------*/

/* Navbar */


.homeNav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    font-family: "Gotham SSm";
}

.navbar a, .forgot-password a, p a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    padding-bottom: 7px;
    padding-top: 7px;
}

.navbar a:after, .forgot-password a:after, p a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 2px;
    background: var(--link-underlined-color);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1), -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
}

p a:after {
    background: var(--text-color);
}

.navbar a:hover:after, .forgot-password a:hover:after, p a:hover:after {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

/*---------------------------------------------------------------*/

/* Categories list */

.categories-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
    color: white;
}


.categories-list a {
    color: #DDDDDD;
    text-decoration: none;
    transition: transform 0.1s cubic-bezier(.19, 1, .22, 1)
}

.categories-list a:hover {
    text-decoration: underline;
    color: #F56B2A;
    transition: transform 0.1s cubic-bezier(.19, 1, .22, 1)
}

/*---------------------------------------------------------------*/

/* Table-articles */

.table-articles thead {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.table-articles {
    border-collapse: collapse;
}

.table-articles tr:nth-child(even) {
    background-color: var(--text-color);
}

/*---------------------------------------------------------------*/

/* Form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

form label {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

/*---------------------------------------------------------------*/
/* Input (+ select)*/

input, select, textarea {
    font-family: "Gotham SSm";
    font-weight: 400;
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    width : 240px;
    background-color: var(--secondary-background-color);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);
    outline: none;
}

textarea {
    width: 80%;
    height: 100px;
}

input:hover, textarea:hover {
    background-color: var(--hover-color);
    box-shadow: var(--box-shadow);
}

input:focus, textarea:focus {
    background-color: var(--hover-color);
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    height: auto;
}

/*---------------------------------------------------------------*/

/* searchbar */

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}   


.searchbar input[type="text"] {
    height: 40px;
    /* min-width: 150px; */
    margin-right: 40px;
    flex: 1;
}

.search {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    min-width: 150px;
    max-width: 800px;
    
}

.searchbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    margin-left: -20px;
    background-color: var(--primary-color);
    border-radius: 50px;
}

.searchbutton:hover {
    filter: brightness(1.2);
}

.searchbutton:active {
    filter: brightness(0.9);
}

.tds-icon-search {
    fill: var(--secondary-color);
    width: 30px;
    height: 30px;
}


/*---------------------------------------------------------------*/

/* Checkbox */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--checkbox-background);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #e0e0e0;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: var(--checkbox-checked-background);
    box-shadow: var(--checkbox-checked-box-shadow);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*---------------------------------------------------------------*/

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: auto;
}

footer * {
    color: var(--text-color);
    text-shadow: var(--footer-text-shadow);
    font-weight: 550;
}

footer .text-center {
    align-items: center;
}

/*---------------------------------------------------------------*/

/* Dashboard */

.chart-container {
    width: 100%; /* Adjust the width of the container */
    border-color: var(--primary-color) ;
}

canvas {
    width: 100%; /* Ensure the canvas takes up the full width of its container */
    height: auto; /* Let the height adjust automatically based on the width */
}

.container_dashboard_line {
    display: inline-block; /* Change display to inline-block */
    width: 22%; /* Adjust the width of each container */
    padding: 10px;
    margin: 10px;
    position: relative;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
}


.container_dashboard_chart {
    display: inline-block;
    width: 45%;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
    overflow: hidden; /* Add this line to prevent content overflow */
}

/*---------------------------------------------------------------*/

/* Carousel */


.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 450px;
  --carousel-min-width: 400px;
  z-index: 1;
  position: relative;
  width: 98%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s cubic-bezier(.19, 1, .22, 1) !important;
  justify-content: center;
  display: flex;
  -ms-flex-align: left;
}
 



.card-carousel.smooth-return {
  transition: all .2s cubic-bezier(.19, 1, .22, 1)!important;
}

.card-carousel .card {
  background: var(--carousel-card-background);
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 60%;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: var(--carousel-card-text-color);
  transition: inherit!important;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 3em;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.3s cubic-bezier(.19, 1, .22, 1)!important;
}

.card.highlight {
  filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
    background-image: url("/images/image_carousel_1.webp")
}
.card:nth-of-type(2) .image-container {
    background-image: url("/images/image_carousel_2.webp")
}
.card:nth-of-type(3) .image-container {
    background-image: url("/images/404.jpg")
}
.card:nth-of-type(4) .image-container {
    background-image: url("/images/404.jpg")
}
.card:nth-of-type(5) .image-container {
    background-image: url("/images/404.jpg")
}

.image-container {
    width: 70%;
    height: 80%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 15px;
    overflow: hidden;
  }

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  /* border: solid 3px rgba(0,0,0,.1); */
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}



/*---------------------------------------------------------------*/

/* Research */
.filters {
    margin-bottom: 20px;
    min-width: 200px;
    margin-inline: 20px;
    color: var(--text-color);
}

.filters button {
    background-color: var(--primary-color);
}

.filters button:hover {
    background-color: var(--secondary-background-color);
    box-shadow: var(--box-shadow);
}

.job-list {
    margin-bottom: 20px;
    width: 80%;
    min-width: 300px;
    transition: all 0.2s cubic-bezier(.19, 1, .22, 1);
}

.job {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    color: var(--inverted-text-color);
    border-radius: 20px;
    display: flex;
    box-shadow: var(--box-shadow);
    flex-direction: row;
    filter: brightness(1);
    transition: all 0.1s cubic-bezier(.19, 1, .22, 1);
}


.job:hover {
    filter: brightness(1.05);
    scale: 1.01;
}

.job:active {
    filter: brightness(1);
    scale: 0.99;
}

.job h3, .job p {
    margin: 5px 0;
    color: white;
}

.job h3 {
    font-weight: 500;
}

.job-info {
    max-width: 20%;
    min-width: 250px;
    flex: 1;
    transition: all 0.2s cubic-bezier(.19, 1, .22, 1);
}

.job-description {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 5px;
    flex: 1;
    margin-left: 20px;
    transition: all 0.2s cubic-bezier(.19, 1, .22, 1);
}

.job-description p {
    color: var(--text-color)
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--inverted-text-color);
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--center-container-background);
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
}

/*---------------------------------------------------------------*/

/* Responsive */

@media screen and (max-width: 1000px) {
    #Name-logo {
        font-size: 20px;
        width: 300px;
    }

    .logo-container {
        width: 300px;
    }

    header div.theme-login {
        width: 210px;
    }

    .container {
        flex-direction: column-reverse;
    }

    .box1 .container {
        flex-direction: row;
    }

    .vertical-line {
        display: none;
    }
}


@media screen and (max-width: 850px) {
    .text-center {
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .email-entry, .email-sent {
        font-size: 0.5em;
    }

    .logo-container {
        width: 80px;
    }

    .logo{
        width: 40px;
        height: auto;
    }
    #logo-classic {
        display: block;
        width: 40px;
    }
    #Name-logo {
        display: none;
    }

    .job {
        flex-direction: column !important;
    }

    .job-info {
        max-width: 100% !important;
        margin-bottom: 10px;
    }

    .job-description {
        margin-left: 0px !important;
        min-height: 100px;
    }

    .job-list {
        width: 100%;
    }

    .filters {
        min-height: 60px;
    }
}

@media screen and (max-width: 650px) {

    .searchbar input[type="text"] {
        min-width: 10px;
        margin-right: 10px;
    }

    .searchbutton {
        margin-left: -70px;
        box-shadow: none;
    }

    button[type="login"] {
        margin-inline: 10px;
        margin-right: 5px;
    }

    header div.theme-login {
        width: auto;
        margin-inline: 10px;
        padding-right: 0px;
    }
    .switch {
        margin-left: 0px;
    }

    .container {
        flex-direction: column-reverse!important;
    
    }
}


@media screen and (max-width: 435px) {
    .searchbutton {
        /* opacity: 0; */
        transform: translateX(10px);
        background-color: transparent;
        pointer-events: none;
    }

    .searchbar {
        min-width: 110px!important;
    }

    .searchbar input[type="text"] {
        padding-right: 35px;
    }
}