body {
  font-family: "Nunito", sans-serif;
  display: flex;
  padding: 3%;
  background-image: url("https://cdn.pixabay.com/photo/2015/06/20/07/24/color-815551_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 91%;
  height: 100%;
}

/* MAIN MENU */

main {
  display: grid;
  width: 100%;
  background: rgb(254, 254, 254);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  z-index: 10;
}

.main-menu {
  overflow: hidden;
  background: rgb(73, 57, 113);
  padding-top: 10px;
  border-radius: 15px 0 0 15px;
  font-family: "Roboto", sans-serif;
}

.main-menu h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
}

.container .flx1 {
  width: 20%;
  height: 92%;
  margin: 1%;
  position: relative;
  border-radius: 40px;
  border: 1px solid black;
}

.container .flx2 {
  width: 80%;
  height: 92%;
  margin: 1%;
  position: relative;
  border-radius: 40px;
  border: 1px solid black;
}

.container .flx2 .flx2_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%; /* Adjust the width of the flexbox */
  height: 45%; 
  margin: 1%;
  margin-left: 3%;
  position: relative;
  border-radius: 40px;
  border: 1px solid black;
}


.flx2_1 * {
  width: 20%; /* Adjust the width of the flexbox */
  height: 85%; 
  margin: 1%;
  position: relative;
  border-radius: 40px;
  border: 1px solid black;

}

.container .flx2 .flx2_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%; /* Adjust the width of the flexbox */
  height: 45%; 
  margin: 1%;
  margin-left: 3%;
  margin-bottom: 3%;
  position: relative;
  border-radius: 40px;
  border: 1px solid black;

}

.flx2_2 * {
  width: 45%; /* Adjust the width of the flexbox */
  height: 85%; 
  margin: 1%;
  position: relative;
  border-radius: 40px;
  border: 1px solid black;

}

.chart-container {
  width: 100%; /* Adjust the width of the container */
  border-color: #F85F6A ;
}

canvas {
  width: 100%; /* Ensure the canvas takes up the full width of its container */
  height: auto; /* Let the height adjust automatically based on the width */
}

.container_dashboard_line {
  display: inline-block; /* Change display to inline-block */
  width: 22%; /* Adjust the width of each container */
  padding: 10px;
  margin: 10px;
  position: relative;
  border-radius: 40px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
}


.container_dashboard_chart {
  display: inline-block;
  width: 45%;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 40px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(0, 0, 0, .2);
  overflow: hidden; /* Add this line to prevent content overflow */
}